
/**
 * manager links regions.
 */
.manager-links-region {
  outline: none;
  position: relative;
/*  height: 50px;*/
/*  background: blue;*/
  float: right;
  margin-right: 25px;
}
.manager-links-region-active {
/*  outline: #999 dashed 1px;*/
}

/**
 * manager links.
 */
div.manager-links-wrapper {
  display: none;
  font-size: 90%;
  position: absolute;
  right: 5px;  /*LTR */
  top: 2px;
  z-index: 1000;
}
html.js div.manager-links-wrapper {
  display: block;
}
a.manager-links-trigger {
  background: transparent url(../image/manager-select.png) no-repeat 2px 0;
  border: 1px solid transparent;
  display: none;
  height: 18px;
  margin: 0;
  padding: 0 2px;
  outline: none;
  text-indent: 34px; /* LTR */
  width: 28px;
  overflow: hidden;
  -khtml-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
a.manager-links-trigger:hover,
div.manager-links-active a.manager-links-trigger {
  background-position: 2px -18px;
}
div.manager-links-active a.manager-links-trigger {
  background-position: 2px -18px;
  background-color: #fff;
  border-color: #ccc;
  border-bottom: none;
  position: relative;
  z-index: 1;
  -moz-border-radius: 4px 4px 0 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  border-radius: 4px 4px 0 0;
}
div.manager-links-wrapper ul.manager-links {
  background-color: #fff;
  border: 1px solid #ccc;
  display: none;
  margin: 0;
  padding: 0.25em 0;
  position: absolute;
  right: 0;
  text-align: left;
  top: 18px;
  white-space: nowrap;
  -moz-border-radius: 4px 0 4px 4px; /* LTR */
  -webkit-border-bottom-left-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -webkit-border-top-right-radius: 0; /* LTR */
  -webkit-border-top-left-radius: 4px; /* LTR */
  border-radius: 4px 0 4px 4px; /* LTR */
}
.manager-links-region a.manager-links-trigger,
div.manager-links-active a.manager-links-trigger,
div.manager-links-active ul.manager-links {
  display: block;
}
ul.manager-links li {
  line-height: 100%;
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}
div.manager-links-wrapper a {
  text-decoration: none;
  margin: 0;
}
ul.manager-links li a {
  color: #333 !important;
  display: block;
  margin: 0.25em 0 !important;
  padding: 0.25em 1em 0.25em 0.5em !important;
  font-family: helvetica-webfont,Arial,Helvetica,sans-serif !important;
  font-size: 14px !important;
}
ul.manager-links li a:hover {
  background-color: #bfdcee;
}
