@import url("http://www.google.com/uds/css/gsearch.css");

@import url("http://www.google.com/uds/solutions/localsearch/gmlocalsearch.css");


/*div#map {
  background-color: #E5E3DF;
  height: 262px;
  
  width: 359px;
  left: 10px;
}*/
